{%- if layout == "layout-small" -%}
{%- assign resize = "medium" -%}
{%- else -%}
{%- assign resize = "grande" -%}
{%- endif -%}

<div class="article-item">
	<div class="article-item-wrap">
		<a href= "{{ article.url }}" class="article-item-image" title="{{ article.title }}">
			{%- if article.image -%}
			<img loading="lazy" decoding="async" width="600" height="400"
				 src="{{ article.image.src | img_url: resize }}" alt="{{ article.title }}" title="{{ article.title }}"> 
			{%- elsif article.content contains 'src="' -%}
			{%- assign page_img = article.content | split: 'src="' -%}
			{%- assign page_img = page_img[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' -%}
			<img loading="lazy" decoding="async" src="{{ page_img }}" alt="{{ article.title }}" alt="{{ article.title }}"/>
			{%- else -%}
			<img loading="lazy" decoding="async" src="//theme.hstatic.net/1000300454/1000391697/14/blog_no_image.jpg" alt="{{ article.title }}" title="{{ article.title }}"/>
			{%- endif -%}
		</a>
		<div class="article-item-detail">
			<h3 class="article-item-detail-title"><a title="{{ article.title }}" href="{{ article.url }}">{{ article.title }}</a></h3>
			<div class="article-item-detail-info">
				<span class="article-item-detail-info-date" style="color: rgb(160, 62, 44);"><i class='bx bx-calendar-alt'></i> {{ article.published_at | date: '%d.%m.%Y' }}</span>
				<span class="article-item-detail-info-author" style="color: rgb(42, 161, 161);"><i class='bx bx-bell' ></i> {{ article.author }}</span> 
				<span class="article-item-detail-info-comment" style="color: rgb(35, 153, 35);"><i class='bx bx-message-dots' ></i> {{ article.comments.size }} Comments</span>
			</div>
			<div class="article-item-detail-content">
				{%- if layout == 'layout_small' -%}
				{{ article.content | strip_html | truncatewords: 30 | replace: '[collection]', ' ' | replace: '[/collection]', ' ' | replace: '[product]', ' ' | replace: '[/product]', ' ' }}
				{%- else -%}
				{{ article.content | strip_html | truncatewords: 55 | replace: '[collection]', ' ' | replace: '[/collection]', ' ' | replace: '[product]', ' ' | replace: '[/product]', ' ' }}
				{%- endif -%}
			</div>
			{% if article.content != "" %}
			<a title="Xem thêm" href="{{ article.url }}" class="article-item-detail-more" >Xem thêm</a>
			{% endif %}
		</div>
	</div>
</div>