{%- assign discount = product.variants.first.compare_at_price | minus: product.variants.first.price | divided_by:product.variants.first.compare_at_price | times : 100 | round -%}
{%- assign percent = product.variants.first.compare_at_price | minus: product.variants.first.price | divided_by:product.variants.first.compare_at_price | times : 100 -%}
{%- if percent > 99 -%}{%- assign discount = 99 -%}{%- endif -%}
{%- if percent < 1 -%}{%- assign discount = 1 -%}{%- endif -%}
<div class="product-item special" data-id="{{ product.first_available_variant.id }}" data-handle="{{ product.handle }}">
	<div class="product-item-wrap">
		<div class="product-item-image {% if product.images.size > 1 %}hasThumbs{% endif %} {% if product.images.size > 2 %}hasThumbsIcon{% endif %}">
			<div class="sapo-buyxgety-badge {% unless product.variants.first.compare_at_price > product.variants.first.price %}noSale{% endunless %}" data-id="{{ product.id }}"></div>
			{%- if percent > 0 and percent < 100 -%}<span class="product-item-discount">-{{ discount }}%</span>{%- endif -%}
			<a class="product-item-link" href="{{ product.url }}" aria-label="{{ product.title }}" title="{{ product.title }}">			
				<img class="w-auto" loading="lazy" decoding="async" width="480" height="480"
					 src="{% if product.images.size > 0 %}{{ product.featured_image.src | img_url: 'large' }}{% else %}https://theme.hstatic.net/200000588277/1000936869/14/no_image.jpg?v=1{% endif %}"
					 alt="{% if product.featured_image.alt.size > 0 %}{{ product.featured_image.alt | escape }}{% else %}{{ product.title }}{% endif %}"
					 title="{% if product.featured_image.alt.size > 0 %}{{ product.featured_image.alt | escape }}{% else %}{{ product.title }}{% endif %}">
				{%- if product.images.size > 1 -%}
				<img class="w-auto" loading="lazy" decoding="async" width="480" height="480"
					 src="{{ product.images[1].src | img_url : 'large' }}"
					 alt="{% if product.images[1].alt.size > 0 %}{{ product.images[1].alt | escape }}{% else %}{{ product.title }}{% endif %}"
					 title="{% if product.images[1].alt.size > 0 %}{{ product.images[1].alt | escape }}{% else %}{{ product.title }}{% endif %}">						
				{%- endif -%}
			</a>
			{%- if product.images.size > 2 -%}
			<ul class="product-item-thumbs">
				{%- for image in product.images limit: 3 offset: 1 -%}
				{%- if image.src != empty -%}
				<li>
					<a href="{{ product.url }}" aria-label="{% if image.alt.size > 0 %}{{ image.alt }}{% else %}{{ product.title | escape }}{% endif %}">
						<img class="w-auto" loading="lazy" decoding="async" width="50" height="50" title="{% if image.alt.size > 0 %}{{ image.alt }}{% else %}{{ product.title | escape }}{% endif %}"
							 src="{{ image.src | img_url: 'thumb' }}" alt="{% if image.alt.size > 0 %}{% else %}{{ product.title | escape }}{% endif %}">
					</a>
				</li>
				{%- endif -%}
				{%- endfor -%}
			</ul>
			{%- endif -%}
		</div>
		<div class="product-item-action">
			<button type="button" title="Yêu thích" class="shop-wishlist-button-add" data-type="shop-wishlist-button-add"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128" x="0" y="0" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512" xml:space="preserve" class=""> <path d="M359.511,37.984c-38.907,0-75.282,14.653-103.511,41.478c-28.229-26.825-64.605-41.478-103.511-41.478 C68.406,37.984,0,108.033,0,194.135c0,49.918,42.543,112.126,126.449,184.895c61.346,53.204,123.555,93.023,124.176,93.419 c1.639,1.045,3.507,1.567,5.375,1.567c1.868,0,3.736-0.523,5.376-1.568c0.621-0.396,62.83-40.215,124.176-93.419 C469.457,306.26,512,244.052,512,194.135C512,108.033,443.594,37.984,359.511,37.984z M372.62,363.771 c-49.885,43.284-100.379,77.567-116.62,88.301c-16.216-10.715-66.578-44.903-116.448-88.153C61.34,296.089,20,237.378,20,194.135 C20,119.06,79.435,57.984,152.489,57.984c36.726,0,70.877,15.094,96.161,42.501c1.893,2.052,4.558,3.219,7.35,3.219 s5.457-1.167,7.35-3.219c25.285-27.406,59.435-42.5,96.161-42.5C432.565,57.984,492,119.06,492,194.135 C492,237.344,450.719,296.003,372.62,363.771z" fill="#000000" data-original="#000000"></path> <path d="M347.379,93.307l-0.376,0.065c-5.438,0.966-9.063,6.157-8.097,11.595c0.861,4.846,5.078,8.252,9.834,8.252 c0.581,0,1.17-0.051,1.76-0.156l0.199-0.034c5.446-0.917,9.118-6.075,8.201-11.521C357.983,96.06,352.82,92.393,347.379,93.307z" fill="#000000" data-original="#000000"></path> <path d="M439.056,131.382c-12.278-16.867-29.718-29.43-49.106-35.375c-5.281-1.621-10.873,1.349-12.492,6.629 c-1.619,5.28,1.349,10.873,6.629,12.492c31.959,9.8,54.279,41.078,54.279,76.063c0,5.523,4.477,10,10,10s10-4.477,9.999-10.001 C458.365,169.416,451.688,148.735,439.056,131.382z" fill="#000000" data-original="#000000"></path></svg></button>
			<button type="button" title="Xem nhanh" class="shop-quickview-button" data-type="shop-quickview-button"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 612.01 612.01" style="enable-background: new 0 0 512 512" xml:space="preserve" class=""> <path d="M606.209,578.714L448.198,423.228C489.576,378.272,515,318.817,515,253.393C514.98,113.439,399.704,0,257.493,0 C115.282,0,0.006,113.439,0.006,253.393s115.276,253.393,257.487,253.393c61.445,0,117.801-21.253,162.068-56.586 l158.624,156.099c7.729,7.614,20.277,7.614,28.006,0C613.938,598.686,613.938,586.328,606.209,578.714z M257.493,467.8 c-120.326,0-217.869-95.993-217.869-214.407S137.167,38.986,257.493,38.986c120.327,0,217.869,95.993,217.869,214.407 S377.82,467.8,257.493,467.8z" fill="#000000" data-original="#000000" class=""></path></svg></button>
		</div>
		<div class="product-item-detail">
			<div class="product-item-sold"> 
				{%- assign percentInventory = totalInventory | times: 100 | divided_by: maxInventory  -%}
				{%- if percentInventory >= 100 -%}{%- assign percentInventory = 100  -%}{%- endif -%}
				<label {% if product.tags contains "fsale_chayhang" %}class="fSale_chayhang"{% endif %}>
					<img loading="lazy" decoding="async" src="https://file.hstatic.net/200000306687/file/imager_8176_d244203aa9cf4dfbb410e1377abdac72_compact.jpg" alt="pro-loop-sold"/>
					<span></span>
				</label>
				<div class="product-item-sold-wrap">
					<span style="--percent: {{ percentInventory | default: 50 }}%"></span>
				</div>
			</div>
			<h3 class="product-item-detail-name">
				<a href="{{ product.url }}" aria-label="{{ product.title }}" title="{{ product.title }}">{{ product.title }}</a>
			</h3>
			<div class="product-item-detail-price">
				{%- if product.variants.first.price != 0 -%}
				<span>{{ product.variants.first.price | money }}</span>
				{%- if product.variants.first.compare_at_price > product.variants.first.price -%}
				<del>{{ product.variants.first.compare_at_price | money }}</del>
				{%- endif -%}
				{%- else -%}
				<span style="margin: 0 !important; color: #F30;">Liên hệ</span>
				{%- endif -%}
			</div>
			<div class="product-item-detail-info">
				<div class="product-item-detail-info-data">
					{%- for tag in product.tags -%}
					{%- if tag contains 'label_' -%}
					<span class="product-item-detail-info-tag">{{ tag | replace: 'label_', '' }}</span> 
					{%- endif -%}
					{%- endfor -%}
				</div>
				
			</div> 
			{%- if product.available -%}
			{%- if product.first_available_variant.price != 0 -%}
			<button type="button" title="Thêm vào giỏ" class="shop-addLoop-button" data-type="shop-addLoop-button">Thêm vào giỏ</button>
			{%- else -%}
			<button type="button" title="Hết hàng" class="shop-addLoop-button" data-type="shop-addLoop-button" disabled>Liên hệ</button>
			{%- endif -%}
			{%- else -%}
			<button type="button" title="Hết hàng" class="shop-addLoop-button" data-type="shop-addLoop-button">Hết hàng</button>
			{%- endif -%}
		</div>
	</div>
</div>